<app-footer-mol></app-footer-mol>
<div class="social-network">
  <div class="social-network__item">
    <label for="item" class="social-network__item--normal">Terms and Conditios</label>
  </div>
  <div class="social-network__item">
    <label for="item" class="social-network__item--normal">Privacy Policy</label>
  </div>
  <div class="social-network__item">
    <label for="item" class="social-network__item--normal">Contact Us</label>
  </div>
  <div class="social-network__follow">
    <div class="social-network__follow">
      <label for="item" class="social-network__follow--normal">
        Follow Us
      </label>
    </div>
  </div>
  <div class="social-network__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25" viewBox="0 0 25 25">
        <image width="25" height="25" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAABYElEQVRIie2Wu0rEQBSGv714Ry28NZY2ioUQxKeYxi2tRNAnsLa2EgutxM7OQjkPIHa22loJNhYiuLo22VUOzMJkJoQkm+38u//c/sk5M4fUoig6BvaBBtWjB1ypyO8QiidQBzqBtVp0mkB3wJLfwDPwA4wAE8AKMGb93WaQUgxHwJkx5t3NEpEHYKvPBxHZAy6NMYHD7049cOfDowpkRMYuKfslNy4RkWXgEJiz13atCpFXj58C20GURdl2+VgILBWIzHt8MYhwkLdduhUugC+7fu49/4mdg96qUeDAra1r5ROYDsomEduHFiDtCotI7OzCdt521YClwJoCEdn0l22RmbwFlnTM+ta8M9HDXNtl2rDzues7RUTfyIadyXpZEW1Xy+FPrgiwC6wGWc4Jy+DDy3nJqlHVY8zEv0hhkWH8pSQ0VGSyROK4x2cyYqf0nZwDOwVb1/a4bgPfpugBt3/yOj8I3JY6DAAAAABJRU5ErkJggg=="/>
      </svg>
      
  </div>
  <div class="social-network__icon">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30" height="25" viewBox="0 0 30 25">
        <image width="30" height="25" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAZCAYAAAAmNZ4aAAACQklEQVRIibWWTYhNYRjHf8NlM/K1kB2ZpJuErg1SNobNH4UsWdkjpcZekhUbHwtmoVEKnakbikzNNAsRo0kzbEia3GgWPsPoyXN4nffcY87MnV+93e7zcf7nfc77vs/bVqvVmA6SSJJkCXAU2AEsA74Aj4BuST3h45Mk6QSepcIbgTXAhSm8w1bgJrAg8vzmGnACWA10AYuAtbPcuR84D+yK0opZAdwvEE2fPeovt0HSSqtIOuNbwE4PPAhcidLz6QO25HpiGsBxoAMYr7h7YRB22UoBHIlS/6WjhKgxF7gEfASqaanHMkGHgWFgd5T+l82RpZj5wIBNUtLrdMa9wL5MWhW44cEXPaYR+BuFMjENSX9eNhXuBk4BS6Nw2OTDStQPPLTt4AtrAmiLMvL5GlorPmb7cu/z3zzagU4fUyESNurAY2AIWBXYW8lYVvg78CFYxRMzIGo8D/+kq/p0YJvsNyvLQJ7wIHB9hgRT6nnC+Ha6E4W3hkFJb5oJG9v9bO1v8bc+kzVkhU10my+4Vgm/lRR9xuy2sWOyJxs0TQ7lpWdnPBR0qVZQl9Sb95yssJH4TWIk8pTjPbCnWUaesHHbTzBrFGeBH1FEMT+tZUr63CyqmXDKPBf/X1zIJ7tKSRqOPAEVv7aMB7aqN4IDwPooo5gnVl5JLwujXHgdcMxbX7vfFMpiW++kpK7J5pnwA2+LVqK9JQXfAVeBc5JelElM9/E9H3P8ALErq1ViObDY7d+8i70CnnrvvivJLgjlAH4B7yJ3oQLtTqUAAAAASUVORK5CYII="/>
      </svg>
      
  </div>
</div>