.chart{
    opacity: 0.5;
    display: flex;
    &__first{
        background-color: rgb(112, 112, 112);
        height: 49px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        transition-property: width;
        transition: 200ms ease;
        &--normal{
            margin: auto;
            margin-right: 10px;
            font-family: Lato-Regular;
            font-size: 13px;
            color: rgb(255, 255, 255);
        }
    }
    &__second{
        background-color: rgb(255, 255, 255);
        height: 49px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        transition-property: width;
        transition: 200ms ease;
        &--normal{
            margin: auto;
            margin-left: 10px;
            font-family: Lato-Regular;
            font-size: 36px;
            color: rgb(70, 70, 70);
        }
    }
}