.bl-ad{
    background-color: rgb(235, 235, 235);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    max-width: 1024px;
    margin: auto;
    margin-bottom: 30px;
    @media (min-width: 997px){
        flex-direction: row;
        height: 100px;
        justify-content: space-around;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px 0;
        @media (min-width: 997px){
            margin-left: 27px;
            padding: 0;
            text-align: unset;
            justify-content: unset;
        }
        
    }
    &__paragraph{
        display: flex;
        align-items: center;
        margin-left: 25px;
        max-width: 720px;
    }
}