.item-menu{
    &__text{
        margin: 5px 5px 0;
        &--normal{
            cursor: pointer;
            font-family: Lato-Light;
            font-size: 16px;
            color: rgb(255, 255, 255);
        }
    }
}