<div class="chart" >
  <div class="chart__first" [style.width]="positivePercent + '%'" [style.height]="mainStyle ? '80px' : ''">
      <img *ngIf="mainStyle" src="../../../assets/img/thumb-up.svg" width="36" height="36" style="margin: auto; cursor: pointer;" (click)="addVotes('chart__first')">
      <img *ngIf="!mainStyle" src="../../../assets/img/thumb-up.svg" width="28" height="28" (click)="addVotes('chart__first')" style="cursor: pointer;">
    <label for="positivePercent" class="chart__first--normal" *ngIf="!mainStyle">
      {{positivePercent + '%'}}
    </label>
  </div>
  <div class="chart__second" [style.width]="negativePercent + '%'" [style.height]="mainStyle ? '80px' : ''">
      <label for="positivePercent" class="chart__second--normal" *ngIf="!mainStyle">
          {{negativePercent + '%'}}
        </label>
        <img *ngIf="!mainStyle" src="../../../assets/img/thumb-up.svg" width="28" height="28" style="transform: rotate(180deg); position: absolute; right: 10px; cursor: pointer;" (click)="addVotes('chart__second')">
      <img *ngIf="mainStyle" src="../../../assets/img/thumb-up.svg" width="36" height="36" style="transform: rotate(180deg); margin: auto; cursor: pointer;" (click)="addVotes('chart__second')">
  </div>
  <div class="chart__message" [style.height]="heightMsg + '%'">
    <label for="message" class="chart__message--normal">
        Thank you for voting!
    </label>
  </div>
</div>