.title{
    display: flex;
    flex-direction: column;
    &__text{
        &--normal{
            font-family: Lato-Light;
            font-size: 15px;
            color: rgb(51, 51, 51);
            @media (min-width: 997px){
                font-size: 21px;
            }
        }
    }
    &__sub{
        &--normal{
            font-family: Lato-Bold;
            font-size: 15px;
            color: rgb(51, 51, 51);
            @media (min-width: 997px){
                font-size: 37px;
            }
        }
    }
}